html,body{
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    background: #fff;
}
*{
    box-sizing: border-box;
}
#tools{
    width: 100%;
    padding: 10px 15px;
    display: flex;
    background: #8aacc8;
    justify-content: space-around;
    align-items: center;
}
#filter{

}
#filter label{
    font-weight: bold;
}
#filter-input{
    border: 1px solid #bbdefb;
    border-radius: 3px;
}
#filter-btn{
    cursor: pointer;
    border-radius: 7px;
    border: 1px solid black;
    margin-left: 10px;
    padding: 4px 8px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    background: #bbdefb;
}
#searchCols{
    font-size: 0.8rem;
}
#searchCols span{
    font-size: 1rem;
    font-weight: bold;
}
#searchCols input{
    cursor: pointer;
    margin-left: 20px;
    margin-bottom: 0;
    width: 20px;
    height: 20px;
}
#hideCols{
    width: 100%;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 25px;
}
#hideCols span{
    font-weight: bold;
}
#hideCols button{
    border: 1px solid rgba(0,0,0,.5);
    box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    cursor: pointer;
    margin: 10px;
    padding: 4px 10px;
    flex: 1 0 content;
    border-radius: 7px;
}
.ActiveBtn{
    background: #bbdefb;
}
.notActiveBtn{
    background: grey;
}
#findLabel{
    background: rgba(255,255,0,0.5);
    height: 25px;
    position: absolute;
}
#tablearea{
    width: 100%;
    display: flex;
    justify-content: center;
}
table {
    max-width: 90%;
    flex: auto;
    border: 3px solid grey;
    border-collapse: collapse;
    margin: 30px 0;
}
th{
    font-size: 1.2rem;
    background: #8aacc8;
}
th, td {
    padding: 10px;
    border: 1px solid grey;
}
tr:not(:first-child):hover{
    cursor: pointer;
    background: #bbdefb;
}
.notFind{
    display: none;
}
.hidden{
    visibility: hidden;
}
.highlight{
    background: rgba(255,255,0,0.5);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    margin: 0;
    padding: 15px 20px;
    position: relative;
    background-color: #bbdefb;
    border: 4px solid #8aacc8;
    width: 30%;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.4);
}
.close {
    cursor: pointer;
    font-size: 1.75rem;
    font-weight: bold;
    position: absolute;
    right: 5px;
    top: 0;
}
.close:hover{
    color: #fff;
}
.modal-body form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.modal-body input[type="text"], .modal-body textarea{
    margin-bottom: 25px;
    font-size: 1rem;
    font-family: Roboto, sans-serif;
}
.modal-body>form>label{
    font-weight: bold;
    margin-bottom: 5px;
}
.modal-body div span{
    font-weight: bold;
    margin-right: 10px;
}
#modal-gender, #modal-img{
    margin-bottom: 25px;
}
#modal-btn{
    cursor: pointer;
    border-radius: 7px;
    border: 1px solid black;
    padding: 4px 8px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    background: #8aacc8;
}
button:active, button:focus{
    outline: none;
}
